
@define-color transparent rgba(0, 0, 0, 0);

* {
  all:unset;
  font: "Fira Code" 14;
}

window {
border: 0px solid red;
border-radius: 10px;
background-color: rgba(--wofi-rgb-color0, 1);
}

#input {
margin: 6px;
padding: 8px;
border-width: 0px;
color: --wofi-color2;
border-radius: 6px 6px 6px 6px;
border: 0px solid transparent;
background-color: rgba(--wofi-rgb-color1, 1);
}
#input > image.left {
  margin-right: 0.7em;
  margin-left: 0.2em;
}
#input > image.right {
  margin-right: 0.2em;
  margin-left: 0.7em;
}

#inner-box {
border: 0px solid yellow;
}

#outer-box {
/* background-color: rgba(0, 255, 0, 0.2); */
}

#scroll {
border: 0px solid orange;
background-color: --wofi-color0;
}

#text {
  padding: 8px;
color: --wofi-color2;
}
#text:selected {
  background-color: rgba(--wofi-rgb-color1, 1);
  font-weight: bold;
}

#entry {
margin: 6px;
padding-left: 2px;
border-radius: 6px 6px 6px 6px;
border: 1px solid transparent;
box-shadow: inset 0rem 0px transparent;
/* background-color: rgba(--wofi-rgb-color0, 0.1); */
background-color: rgba(--wofi-rgb-color0, 1);
}
/* #entry:nth-child(odd){ */
/* background-color: --wofi-color2; */
/* } */
#entry:selected {
background-color: rgba(--wofi-rgb-color1, 1);
}
